#hidden {
  display: none;
  text-align: center;
}

#pictureCoyote {
  display: none;
  padding-left: 300px;
  padding-top: 200px;

}

.jumbotron {
  background-color: lightblue;
  margin-bottom: 50px;
  text-align: center;
}

#formOne {
  margin-top: 140px;
  margin-bottom: 200px;
}

#picbeep {
 padding-left: 300px;
}

.boxmodel-2 {
  font-size: 90px;
  text-align: center;
  background-color: lightblue;
  font-family: Times,inherit;
  margin-top: 200px;
}
.boxmodel-2 a {
  font-size: 40px;
  font-family: Times,inherit;
  color: black;
}
.boxmodel-2 a:hover{
  color: pink ;
  text-decoration: underline;
}
